<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ySite.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ySite.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
@*        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ySite.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Post/Posts">Posts</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>*@

            <div class="header-container">
                <div class="header-wrapper">
                    <div class="logoBox">
                        <img src="images/facebook-logo.png" alt="logo">
                    </div>
                    <div class="searchBox">
                        <input type="search">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="iconBox1">
                        <i class="fa-solid fa-house"></i>
                        <i class="fa-solid fa-user-group"></i>
                        <i class="fa-solid fa-video"></i>
                        <i class="fa-solid fa-gamepad"></i>
                  <i>  <a class="nav-link text-dark" asp-area="" asp-page="/Post/Posts">Posts</a></i>
                    </div>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/test" asp-route-commentId="4">test</a>
                </li>
                    <div class="iconBox2">
                    <partial name="_LoginPartial" />
                        <i class="fa-solid fa-circle-plus"></i>
                        <i class="fa-brands fa-facebook-messenger"></i>
                        <i class="fa-solid fa-bell"></i>
                        <label><img src="images/user.jpg" alt="user"></label>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ySite.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>