@page
@*@model ySite.UI.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h2>Login</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="UserCredential.UserName" class="form-control" autocomplete="off" aria-required="true" placeholder="name@example.com" />
                <label asp-for="UserCredential.UserName">Email</label>
                <span asp-validation-for="UserCredential.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="UserCredential.Password" class="form-control" autocomplete="off" aria-required="true" placeholder="password" />
                <label asp-for="UserCredential.Password">Password</label>
                <span asp-validation-for="UserCredential.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
        </form>
    </div>
</div>
*@
@*@model ySite.UI.Pages.Account.LoginModel*@
@{
    ViewData["Title"] = "Login";
}
<form id="loginForm" method="post">
        <div>
        <label for="userName">userName:</label>
        <input type="text" id="userName" name="userName" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const userName = document.getElementById('userName').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('https://localhost:7200/api/Auth/Login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                body: JSON.stringify({ userName, password })
                });

                if (response.ok) {
                const data = await response.json(); // Assuming the response contains JSON data
                localStorage.removeItem('responseData');
                localStorage.removeItem('authToken');
                localStorage.setItem('authToken', data.token);
                localStorage.setItem('responseData', data);
                console.log('Response Data:', data);
               // localStorage.setItem('responseData', JSON.stringify(data));
                window.location.href = '/Index';
                } else {
                    console.error('Login failed.');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
